
#btnGuardar {
    background-color: greenyellow;
}

#btnEliminar {
    background-color: red;
}

#btnCancelar {
    background-color: red;
}

#btnEditar {
    background-color: yellow;
}

#btnLimpiar {
    background-color: red;
}