fieldset {
  border-width: 0;
}

h2 {
  color: darkblue;
  padding: 10px 10px;
}

.form-group {
  display: flexbox;
  padding: 1rem;
  background: whitesmoke;
  /* border-radius: 10px;
  border: solid 2px gainsboro; */
  justify-content: space-around;
  width: 40vw;
}

.inputs-styler {
  /* border: none; */
  margin: 10px;
  padding-left: 5px;
  background-color: rgba(126, 201, 241, 0.4);
  border-radius: 10px;
  border: 1px solid darkblue; /* Define un borde de grosor y color */
}

.form-fields-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: darkblue;
}


.btnFrm input{
  padding: 5px 5px;
}