
.container-table {
    width: 70vw;
    height: auto;
}

.container-table table tr,
td {
    font-size: 14px;
}


table {
    /* justify-content: center; */
    table-layout: fixed;
    /* width: 70%; */
    border-collapse: collapse;
    /* margin-top: 1%; */
}


table,
th,
td {
    border: 1px solid black;
    height: 10px;
}

thead {
    background-color: gray;
    color: white;
}

.tbody tr:nth-of-type(odd) {
    background-color: rgba(240, 168, 224, 0.3);
}


/* .tbody tr:nth-of-type(even) {
    background-color: gray;
} */


.btnLimpiar{
    /* width: 85%; */
    display: flex;
    justify-content: end;
    background-color: rgba(240, 168, 224, 0.3);
    padding-bottom: 1%;
}

.btnLimpiar input{
    padding: 5px 5px;
}

table td:first-child {
    display: none;
}

table th:first-child {
    display: none;
}